<p>view-clicked-stacktrace works!</p>
<h2 class = "dknkndf">Get StackTrace</h2>
<table *ngIf = 'stacktrace != undefined' >
  <caption>StackTrace Info</caption>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>body</th>
    <th>technology</th>
    <th>creation time</th>
  </tr>
  <tr>
    <td>{{stacktrace.stacktraceId}}</td>
    <td>{{stacktrace.title}}</td>
    <td>{{stacktrace.body}}</td>
    <td>{{stacktrace.technology}}</td>
    <td>{{stacktrace.creationTime}}</td>
  </tr>

  <!-- TODO: change ngif to check if the current user is the owner of the stacktrace -->
  <!-- TODO: delete stacktrace by actual id, not hardcoded value -->
  <button mat-raised-button color="warn" (click)='deleteStacktrace(3)' *ngIf='currentUser == undefined'>Delete</button>
</table>
