app-search-bar {
  position: absolute;
  left: 48%;
  margin: 20px;
  transform: translateX(-50%);
}

#glass-pane {
  position: relative;
  width: 75%;
  height: 75%;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 30px;
<<<<<<< HEAD
  padding:2em;
=======
  padding: 2em;
>>>>>>> origin/dev
}
