.create-flashcard-button {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 15em;
  height: 15em;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.54) 80%);
  border-radius: 25em 0 0 0;
  z-index: 20;
}

app-page-base {
  z-index: 0;
}

#newquestionicon {
  z-index: 30;
  transform: translateX(50% );
}
