.create-flashcard-button {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background: orange;
  border-radius: 90px 0 0 0;
  z-index: 20;
}

app-page-base {
  z-index: 0;
}
