.glass-pane {
  position: absolute;
  width: 75%;
  height: 75%;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 30px;
}

.page {
  display: block;
}
