<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="header">Mikayla Pickett</div>
    <div class="new-answer" >
      <img src={{newAnswerIcon}} alt="create new answer" height="30em" (click)="newAnswer($event)">
    </div>

    <div (click)="toggleView($event)" [hidden]="flip" class="answers">
      <p class="card-text" *ngIf=isAnswer>{{answers[0].answerText}}</p>
      <p class="card-text" *ngIf=!isAnswer>(No answers)</p>
      <button class="btn custom-button" (click)="toggleView($event)" >
          View More
      </button>
    </div>

    <div (click)="toggleView($event)" [hidden]="!flip" class="answers">
      <p *ngFor="let answer of answers">{{answer.answerText}}</p>
      <button class="btn custom-button" (click)="toggleView($event)">
        View Less
      </button>
    </div>

  </div>


  <div class="answer-lower-half">
    LOW
    <!-- <app-vote class="vote-positioning"></app-vote> -->
  </div>
</div>




<!--
<div class="flashcard-content" *ngIf=isAnswer>
  <h2>{{answer.answerText}}</h2>
</div>
<div class="flashcard-content" *ngIf=!isAnswer>
  <h2>(No answers)</h2>
</div> -->
