<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="flashcard-difficulty-easy" *ngIf="difficulty == 'Easy'">{{difficulty}}</div>
    <div class="flashcard-difficulty-medium" *ngIf="difficulty == 'Medium'">{{difficulty}}</div>
    <div class="flashcard-difficulty-hard" *ngIf="difficulty == 'Hard'">{{difficulty}}</div>
    <div class="new-answer">
      <img src={{newAnswerIcon}} alt="create new answer" height="30em"  (click)="newAnswer($event)">
    </div>


    <div *ngIf="!isAnswer">
      <p class="card-text">(No answers)</p>
    </div>


    <div [hidden]="flip" class="answers" *ngIf=isAnswer>
      <div class="card-text" *ngIf=isAnswer>
        {{answers[0].answerText}}
        <app-vote (click)="vote($event)" [answer]=answers[0] [answerId]=answers[0].answerId [userId]=userId></app-vote>
      </div>
        <button class="btn custom-button" (click)="toViewThread()" *ngIf="answers.length > 0">
            View More
        </button>
    </div>

    <div [hidden]="!flip" class="answers" *ngIf=isAnswer>
      <div class="card-text" *ngFor="let answer of answers">
        {{answer.answerText}}
        <app-vote (click)="vote($event)" [answer]=answer [answerId]=answer.answerId [userId]=userId></app-vote>
        <br>
      </div>
      <button class="btn custom-button" (click)="toggleView($event)">
        View Less
      </button>
    </div>

  </div>
</div>
