.scaled {
  transform: scale(1.5);
}

img {
  display: inline-block;
}

.score {
  display: inline-block;
  font-style:normal;
  font-size: 50px;
  font-weight: 200;
  margin-left: 1em;
  margin-right: 1em;
}
