.scaled {
  transform: scale(2);
}

img {
  display: inline-block;
}

.score {
  display: inline-block;
  font-style:normal;
  font-size: 50px;
  font-weight: 400;
  margin-left: .75em;
  margin-right: .75em;
}

.parent {
  transform: scale(0.5);
}
