<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="header">Mikayla Pickett</div>
    <div class="new-answer" >
      <img src={{newAnswerIcon}} alt="create new answer" height="30em" (click)="newAnswer()">
    </div>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
    <button class="btn custom-button">
      View More
    </button>
  </div>


  <div class="answer-lower-half">
    <app-vote class="vote-positioning"></app-vote>
  </div>
</div>


<!-- There is no overflow behavior for the flashcard question or answer.
TODO:
  1) Ensure that flashcard question and flashcard answer are always
    the same size
  2) Set overflow behavior so that the text gets cutoff when it's reached
    a certain length to account for fixed card size -->
