<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="flashcard-difficulty">Medium</div>
    <div class="new-answer" >
      <img src={{newAnswerIcon}} alt="create new answer" height="30em" (click)="newAnswer()">
    </div>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>

  <!-- <div class="rating-section">
    <div class="slider">
      <label for="rating-slider" class="form-label">Rate the Difficulty</label>
      <input type="range" class="form-range" min="1" max="3" step="1" id="rating-slider">
    </div>

    <ul class="list-group list-group-horizontal range-labels">
      <li class="list-group-item flex-fill">Easy</li>
      <li class="list-group-item  flex-fill active-selected">Medium</li>
      <li class="list-group-item flex-fill">Hard</li>
    </ul>
  </div> -->

  <div class="answer-lower-half">
    <app-vote></app-vote>
  </div>
</div>
