#Generic-List {
  position: relative;
  top: -2px !important;
  background: none;
  width: 300px;
  position: relative;
  box-sizing: border-box;
  border: none;
  padding: 0px;
  box-sizing: border-box;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#Generic-List li:nth-child(2n-1) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.81) 0%,
    rgba(255, 255, 255, 0.72) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}

#Generic-List li:nth-child(2n) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(255, 255, 255, 0.42) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}

#Card-Header {
  height: 35px;
  background: #ffffff;
  opacity: 0.9;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#Card-Footer {
  height: 35px;
  background: #ffffff;
  opacity: 0.9;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
