
@import "../node_modules/bootstrap/scss/bootstrap";

$navbar-light-color: #212529;
$navbar-light-hover-color: #6610f2;
$navbar-light-active-color: #6610f2;

@import "../node_modules/bootstrap/scss/bootstrap";
