<div id="glass-pane">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div *ngIf="currentStacktrace.stacktraceId" class="edit-form">
      <h3 class="card-title test">Stacktrace</h3>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input class="form-control input-styling" placeholder="Title"  type="text"  [(ngModel)]="currentStacktrace.title" />
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <input
            type="text"
            class="form-control input-styling"
            [(ngModel)]="currentStacktrace.body"
            name="body"
          />
        </div>
      </form>


      <button (click)="deleteStacktrace()">
        Delete
      </button>


    <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentStacktrace.stacktraceId">
      <br />
      <p>Cannot access this Stacktrace</p>
    </div>
  </div>
  </div>
  </div>
