<app-base-page>
  <div class="selected-content">
   <div class="card" style="width: 18rem" id="Card-Wide">
    <div *ngIf="currentStacktrace">
  <div class="card-header" id="Card-Header">Stacktrace</div>
  <div class="card-body" id="Card-Body">
   <label><strong>Stacktrace ID:</strong></label> {{ currentStacktrace.stacktraceId }}
  </div>
 <div class="card-body" id="Card-Body">
   <label><strong>Creator ID:</strong></label> {{ currentStacktrace.userName}}
  </div>
 <div class="card-body" id="Card-Body">
<label><strong>Title:</strong></label> {{ currentStacktrace.title }}
  </div>
 <div class="card-body" id="Card-Body">
    <label><strong>Body:</strong></label>
                  {{ currentStacktrace.body }}
  </div>
 <div class="card-body" id="Card-Body">
  <label><strong>TechnologyId:</strong></label>
                  {{ currentStacktrace.technologyName }}
  </div>
 <div class="card-body" id="Card-Body">
    <label><strong>Creation Time:</strong></label>
                  {{ currentStacktrace.creationTime }}
  </div>
</div>
</div>
</div>
</app-base-page>
