.custom-button {
  background: linear-gradient(99.35deg, rgba(21, 60, 83, 0.7) 0%, rgba(21, 60, 83, 0.7) 98.91%);
backdrop-filter: blur(50px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 10px;
font-family: Roboto, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 175%;
text-align: center;
letter-spacing: 1px;
color: #FFFFFF;
}
