<div class="col" *ngIf="flashcardPage !== undefined">

  <h4>Search text: {{searchText}}</h4>

  <div class="card-deck view-flashcard" *ngFor="let flashcard of flashcardPage.content">
    <app-flashcard [flashcard]="flashcard"></app-flashcard>
  </div>

  <div class="container">
    <div class="row d-flex justify-content-around">
      <div class="col-sm-2">
        <button class="pagination" (click)="prevPage()" *ngIf="flashcardPage.number > 0">Previous</button>
      </div>
      <div class="col-sm-2">
        <button class="pagination" (click)="nextPage()" *ngIf="flashcardPage.number < flashcardPage.totalPages - 1">Next</button>
      </div>
    </div>
  </div>
</div>

<div class="filter-box" *ngIf="flashcardPage !== undefined">
  <div ngbDropdown class="filter-element">
    <button class="Dropdown-Button" id="Dropdown-Button0" (click)="this.changeFocus(0)" (focus)="this.setFalse(0)" ngbDropdownToggle>{{mode}}</button>
    <div class="Dropdown-List" ngbDropdownMenu aria-labelledby="dropdownBasic1" >
      <button class="filter-input" ngbDropdownItem (click)="setModeToNone()">None</button>
      <button class="filter-input" ngbDropdownItem (click)="setModeToTopic()">Topic</button>
      <button class="filter-input" ngbDropdownItem (click)="setModeToDifficulty()">Difficulty</button>
      <button class="filter-input" ngbDropdownItem (click)="setModeToResolved()">Resolved</button>
    </div>

  <div ngbDropdown *ngIf="modeChoices.length > 0" class="filter-element">
    <button class="Dropdown-Button" id="Dropdown-Button1" (click)="this.changeFocus(1)" (focus)="this.setFalse(1)" ngbDropdownToggle>{{filterDisplay}}</button>
    <div class="Dropdown-List" ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="filter-input" ngbDropdownItem *ngFor="let mode of modeChoices" (click)="setInput(mode.input)">{{mode.displayString}}</button>
    </div>
  </div>
</div>
