<!-- <app-base-page>
  <div class="selected-content">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title test">Submit a Solution</h3>
    <form>
      <div class="form-group">
        <label for = "submissionTitleOptional" id="submitTitleOptional">
        </label>
        <label for = "submitCardContentType" id="submitContent" >
        </label>
        <textarea class="form-control input-styling" id="submitContent" rows="5" placeholder="Write your comment here..." [(ngModel)] = "createSolution.body"></textarea>
      </div>
    </form>
    <div class="wrapper">
      <button type="button" class="btn custom-button" (click)="postSolution()">Submit</button>
    </div>
  </div>
</div>
</div>
</app-base-page> -->


<!-- Joey and John -->
<!-- Solution cards(populate or update chosen solution for a given stacktrace if and only if the user is the user who created the stacktrace or the user is an admin))-->

<div class="card" style="width: 18rem" id="Diologue-Card" *ngFor="let solution of solutions">
  <div class="card-header" id="Card-Header">
    <p>{{solution.solutonId}}</p>
  </div>
  <div class="card-body" id="Card-Body">
    <p class="card-text" id="Name">{{solution.userName}}</p>
    <p class="card-text" id="Card-Text">{{solution.body}}</p>
  </div>
  <div class="card-footer" id="Card-Footer">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="25"
      height="25"
      fill="currentColor"
      class="bi bi-trash"
      viewBox="0 0 16 16"
    >
      <path
        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
      />
      <path
        fill-rule="evenodd"
        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
      />
    </svg>
  </div>
</div>
