<div id="glass-pane">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title test">Submit a Stacktrace</h3>
      <form (ngSubmit)="onSubmit()" #stacktraceForm="ngForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" [(ngModel)]="stacktrace.title"
            class="form-control"
            id="title"
            name="title"
            placeholder="Enter a title"
            required #title="ngModel">
        </div>
        <div [hidden]="!title.pristine" class="alert alert-danger">Title is required</div>
        <div class="form-group">
          <label for="Body">Body</label>
          <input type="text" [(ngModel)]="stacktrace.body"
            class="form-control"
            id="body"
            name="body"
            placeholder="Enter text"
            required #body="ngModel">
          <div [hidden]="!body.pristine" class="alert alert-danger">Body is required</div>
        </div>
        <div class="form-group">
          <label for="technology">TechnologyID</label>
          <input type="number" [(ngModel)]="stacktrace.technologyId"
            class="form-control"
            id="technology"
            name="technology"
            placeholder="Enter a technology"
            required #technology="ngModel">
        </div>
        <div class="form-group">
          <label for="technologyName">Technology Name</label>
          <input type="text" [(ngModel)]="stacktrace.technologyName"
            class="form-control"
            id="technologyName"
            name="technologyName"
            placeholder="Enter a Technology Name"
            required #technologyName="ngModel">
        </div>
        <div [hidden]="!title.pristine" class="alert alert-danger">Technology Name is required</div>
        <div class="form-group">
          <label for="creator">Creator ID</label>
          <input type="number" [(ngModel)]="stacktrace.userId"
            class="form-control"
            id="creator"
            name="creator"
            placeholder="Enter a creator"
            required #creator="ngModel">
        </div>
        <div [hidden]="!creator.pristine" class="alert alert-danger">Creator ID is required</div>
        <button type="submit" [disabled]="!stacktraceForm.form.valid"
        class="btn btn-info">Submit</button>

      </form>
    </div>
  </div>
  </div>
