#topic-table-container {
  border: orange solid 1px;
  border-radius: 25px;
  padding: 1em;
}

#topic-table {
  width: 100%;
}

.topic-element {
  border: black solid 1px;
}

.topic-delete-button {
  border: orange solid 2px;
  background: orangered;
  color: white;
  width: 5em;
  padding: 5px;
  border-radius: 25px;
}

.topic-delete-button:hover {
  background-color: red;
}

#topic-add-button {
  border: orange solid 2px;
  background: lime;
  color: black;
  width: 5em;
  padding: 5px;
  border-radius: 25px;
}

#topic-add-button:hover {
  background-color: green;
}
