<app-base-page>
  <div class="selected-content">
    <div id="topic-table-container" class="d-flex justify-content-around">
      <table id="topic-table">
        <tr>
          <th class="topic-element">Topic</th>
          <th class="topic-element">Delete?</th>
        </tr>

        <tr *ngFor="let topic of topics">
          <td class="topic-element">{{topic.topicName}}</td>
          <td class="topic-element"><button class="topic-delete-button" (click)="deleteTopic(topic)">Delete?</button></td>
        </tr>

        <tr>
          <td class="topic-element"><input placeholder="Add topic here" type="text" #newTopicInput style="width: 100%;"/></td>
          <td class="topic-element"><button id="topic-add-button" (click)="addTopic(newTopicInput.value) ">Add</button></td>
        </tr>
      </table>
    </div>

  </div>

</app-base-page>
