<app-base-page>
  <div class="selected-content">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title test">Create a Question</h3>
        <form
          class="flashcard"
          name="flashcard"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
        >
          <div id="container">
            <div class="form-group" id="input-dialogue">
              <textarea
                class="form-control input-styling"
                name="question"
                [(ngModel)]="form.question"
                #question="ngModel"
                placeholder="Question"
                type="text"
                required
              ></textarea>
            </div>

            <div class="form-group" id="first">
              <select
                class="start"
                name="topic"
                [(ngModel)]="form.topicId"
                #topic="ngModel"
                placeholder="Select topic"
                type="text"
                required
              >
                <option hidden value="" disabled selected>
                  Select District/City
                </option>
                <option>None</option>
                <option *ngFor="let topic of topics" value="{{ topic.id }}">
                  {{ topic.topicName }}
                </option>
              </select>
            </div>

            <div class="form-group" id="second">
              <select
                class="start"
                name="difficulty"
                [(ngModel)]="form.difficulty"
                #difficulty="ngModel"
                placeholder="Select difficulty"
                type="difficulty"
                required
              >
                <option value="easy" selected>Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
              </select>
            </div>
          </div>
          <button class="custom-button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</app-base-page>
