#NavBar {
  box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);

  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  height: 50px;
  /* Note: backdrop-filter has minimal browser support */
  /* border-radius: 30px 30px 0px 0px; */
}

/* change the text color */
.navbar-custom .navbar-text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #153c53;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: white !important;
}

#studyforce_logo {
  margin-left: 0.5em;
  margin-right: 0.5em;
  /* max-width: 8em;
  max-height: 6em; */
  max-width: 4em;
  max-height: 2em;
  width: auto;
  height: auto;
}

#Remove-Button {
  opacity: 0.75;
  position: absolute;
  width: 103px;
  background: #ff0101;
  border: 1px solid #ff0000;
  box-sizing: border-box;
  border-radius: 30px;
  right: 10px;
  color: white !important;
}
