<div>
  <div id="glass-pane">
    <div class="card" style="width: 70%; height: 4rem; top: 6rem;" id="Card-Wide">
      <label for="" style="position: relative; top: -13px; left: 22px;">Email</label>
      <div class="card-body" id="Card-Body">
        <p class="card-text" id="Card-Text" style="text-align: center; position: relative; top: -32px;">TEST@TEST.urdum</p>
      </div>
    </div>
    <div class="card" style="width: 70%; height: 4rem; top: 12rem;" id="Card-Wide">
      <label for="" style="position: relative; top: -13px; left: 22px;">Name</label>
      <div class="card-body" id="Card-Body">
        <p class="card-text" id="Card-Text" style="text-align: center; position: relative; top: -32px;">Bobby Tables</p>
      </div>
    </div>
    <div class="card" style="width: 33%; top: 27.5rem; " id="Card-Wide">
      <div class="card-header" id="Card-Header" style="text-align: center;">Batches</div>
      <div class="card-body" id="Card-Body">
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</div>
