<div *ngIf="!loaded" id="glass-pane" class="glass-pane">
  <div class="card-header" id="Card-Header" style="text-align: center">
    <p style="font-size: 18pt; top: -0.7rem">Create Batch</p>
  </div>
  <div class="d-flex justify-content-center" style="padding-top: 10rem">
    <label
      for=""
      style="position: absolute; left: auto; right: auto; padding-top: 2rem"
    >Loading...</label
    >
    <div class="spinner-border text-primary" id="loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="glass-pane" *ngIf="loaded">
  <div id="container">
    <p class="center-text">
      {{ creationTime }}
    </p>
  </div>

  <div id="container2">
    <div class="batchCard" id="Batch-Card">
      <label id="label">Batch Name</label>
    </div>
    <p class="center-text2">
      <input [(ngModel)]="name" type="text" value="{{ name }}" />
    </p>
  </div>

  <div id="container3">
    <div class="col-4"></div>
    <div class="col-4 text-center mt-5 mb-5 upload-btn-wrapper">
      <button class="btn btn-primary" id="Upload-CSV-Button">Upload CSV</button>
      <input type="file" (change)="changeListener($event.target.files)" />
    </div>
  </div>

  <div class="instructors">
    <div class="table-responsive">
      <table class="table table-striped table-borderless">
        <thead>
        <tr>
          <th scope="col">Instructors</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let instructor of instructors; let index = index">
          <td>{{ instructor }}</td>
          <td>
            <button
              class="btn btn-danger form-control Remove-Button"
              (click)="onDeleteInstructor(instructor)"
            >
              Remove
            </button>
          </td>
        </tr>
        </tbody>
        <caption>
          <form (submit)="onAddInstructor(formEmp2)" #formEmp2="ngForm">
            <input
              type="text"
              class="form-control d-inline Email-Input"
              name="email"
              placeholder="Email"
              [ngModel]="instructorCurrentEmail"
              #email="ngModel"
              id="Email-Input"
            />
            <button
              class="btn btn-primary Add-Button form-control d-inline"
              type="submit"
            >
              Add
            </button>
          </form>
        </caption>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="wrapper col-8 mt-5 mx-auto" id="wrapper">
      <div class="table-responsive">
        <table class="table table-striped table-borderless">
          <thead class="m-2">
          <tr>
            <th id="">Employees</th>
            <th id=""></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; let index = index">
            <td>{{ user }}</td>

            <td>
              <button
                class="btn btn-danger form-control Remove-Button"
                (click)="onDeleteUser(user)"
              >
                Remove
              </button>
            </td>
          </tr>
          </tbody>
          <caption>
            <form (submit)="onAddUser(formEmp)" #formEmp="ngForm">
              <input
                type="text"
                class="form-control d-inline Email-Input"
                name="email"
                placeholder="Email"
                [ngModel]="userCurrentEmail"
                #email="ngModel"
                id="Email-Input"
              />
              <button
                class="btn btn-primary Add-Button form-control d-inline"
                type="submit"
              >
                Add
              </button>
            </form>
          </caption>
        </table>
      </div>
    </div>
  </div>
  <button
    class="btn btn-primary"
    type="button"
    id="Submit-Button"
    (click)="warningForSubmit()"
  >
    Submit
  </button>
</div>

<style>
  .batchCard {
    background: #ffffff;
    opacity: 0.5;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    position: absolute;

    transform: translateX(-50%);
    width: 405px;
    height: 49px;
    top: 38px;
    max-width: 40%;
    min-width: 28%;
  }
  label {
    position: relative;
    top: -12px;
    right: -20px;
  }
  .row {
    margin-bottom: 10px;
  }
  #container {
    position: relative;

    top: 38px;
    left: 51px;
    max-width: 70%;
    min-width: 10%;
  }

  #container2 {
    position: relative;
    left: 50%;
    top: 0px;
  }

  #container3 {
    position: relative;
    left: 33%;
    top: 50px;
  }
  .center-text {
    position: absolute;
    top: 13px;
    left: 38px;
    color: black;
    font-family: Roboto;
    font-style: normal;
  }

  .center-text2 {
    position: absolute;
    top: 50px;
    left: -90px;
    color: black;
    font-family: Roboto;
    font-style: normal;
  }
  .dateCard {
    background: #ffffff;
    opacity: 0.5;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 30px;
    width: 148px;
    height: 49px;
  }

  .instructors {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* top: 117px; */
    opacity: 0.95;
    /* max-height: 200px; */
    max-width: 35%;
    min-width: 28%;
    /* overflow: auto; */
  }

  .users {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 348px;
    opacity: 0.95;
    width: 50%;
    max-height: 400px;
  }
  #wrapper {
    top: -30px;
    /* overflow: auto; */
    position: relative;
    height: 320px;
  }

  .table-responsive {
    border-radius: 30px 30px 0px 0px;
    /* overflow: hidden; */
  }

  .glass-pane {
    position: absolute;
    width: 75%;
    left: 50%;
    overflow: auto;
    top: 10%;
    bottom: 10px;
    transform: translateX(-50%);
    box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 30px;
  }

  .card {
    top: 2em;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.54) 100%
    );
    backdrop-filter: blur(100px);
    border-radius: 10px;
    min-width: 590px;
  }

  #Generic-List {
    position: relative;
    top: -2px !important;
    background: none;
    width: 300px;
    position: relative;
    box-sizing: border-box;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  #Generic-List li:nth-child(2n-1) {
    background: linear-gradient(
      90.34deg,
      rgba(255, 255, 255, 0.81) 0%,
      rgba(255, 255, 255, 0.72) 100%
    );
    mix-blend-mode: normal;
    backdrop-filter: blur(100px);
  }

  #Generic-List li:nth-child(2n) {
    background: linear-gradient(
      90.34deg,
      rgba(255, 255, 255, 0.56) 0%,
      rgba(255, 255, 255, 0.42) 100%
    );
    mix-blend-mode: normal;
    backdrop-filter: blur(100px);
  }

  #Card-Header {
    height: 35px;
    background: #ffffff;
    opacity: 0.9;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  #Card-Footer {
    height: 35px;
    background: #ffffff;
    opacity: 0.9;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  th {
    background: white;
  }

  .table-striped > tbody > tr:nth-child(2n + 1) {
    background: linear-gradient(
      90.34deg,
      rgba(255, 255, 255, 0.81) 0%,
      rgba(255, 255, 255, 0.72) 100%
    );
    mix-blend-mode: normal;
    backdrop-filter: blur(100px);
  }

  .table-striped > tbody > tr:nth-child(2n) {
    background: linear-gradient(
      90.34deg,
      rgba(255, 255, 255, 0.56) 0%,
      rgba(255, 255, 255, 0.42) 100%
    );
    mix-blend-mode: normal;
    backdrop-filter: blur(100px);
  }

  th {
    padding: 13px;
    font-weight: bold;
    color: #153c53;
    font-family: Roboto;
    font-style: normal;
  }

  td {
    padding: 13px;
    font-family: Roboto;
    font-style: normal;
    line-height: 41px;
  }

  #Submit-Button {
    opacity: 0.75;
    width: 86px;
    background: #0275d8;
    border: 1px solid #0275d8;
    box-sizing: border-box;
    border-radius: 30px;
    position: absolute;
    margin: 10px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  #Upload-CSV-Button {
    opacity: 0.75;
    position: relative;
    width: 148px;
    background: #0275d8;
    border: 1px solid #0275d8;
    box-sizing: border-box;
    border-radius: 30px;
    margin: 10px;
  }

  #Remove-Button {
    opacity: 0.75;
    position: relative;
    width: 103px;
    background: #ff0101;
    border: 1px solid #ff0000;
    box-sizing: border-box;
    border-radius: 30px;
  }

  .deactivate {
    margin: 10px;
    position: fixed;
    right: 50%;
    bottom: 0;
  }
  table {
    padding: 10px;
  }

  #Upload-CSV-Button {
    opacity: 0.75;
    position: relative;
    width: 148px;
    background: #0275d8;
    border: 1px solid #0275d8;
    box-sizing: border-box;
    border-radius: 30px;
  }

  th {
    background: white;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 200px;
    /* overflow: auto; */
  }
  .table-wrapper-scroll-y {
    display: block;
  }

  tbody > tr:nth-child(2n + 1) {
    background: linear-gradient(
      90.34deg,
      rgba(255, 255, 255, 0.81) 0%,
      rgba(255, 255, 255, 0.72) 100%
    );
    mix-blend-mode: normal;
    backdrop-filter: blur(100px);
  }

  tbody > tr:nth-child(2n) {
    background: linear-gradient(
      90.34deg,
      rgba(255, 255, 255, 0.56) 0%,
      rgba(255, 255, 255, 0.42) 100%
    );
    mix-blend-mode: normal;
    backdrop-filter: blur(100px);
  }

  .Remove-Button {
    opacity: 0.75;
    position: relative;
    right: 0;
    width: 103px;
    background: #ff0101;
    border: 1px solid #ff0000;
    box-sizing: border-box;
    border-radius: 30px;
  }

  .Add-Button {
    position: relative;
    width: 20%;
    left: 20px;
    background: #00d600;
    border: 1px solid #80b366;
    box-sizing: border-box;
    border-radius: 30px;
  }
  #Action {
    padding-right: 55px;
    text-align: right;
  }

  .Remove-Button {
    float: right;
  }
  #Email-Input {
    position: relative;
    left: 1%;
    width: 75%;
    border-radius: 30px;
  }

  .upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .upload-btn-wrapper {
    position: relative;
    display: inline-block;
  }

  caption {
    background: #ffffff;
    box-shadow: 0px -1px 0px #eceeef;
    border-radius: 0px 0px 30px 30px;
  }

  td {
    width: 100%;
  }

</style>
