<!--<form-->
<!--*ngIf = "!isSuccessful"-->
<!--class="register-gear-popup"-->
<!--name="form1"-->
<!--(ngSubmit) = "f.form.valid && onSubmit()"-->
<!--#f = "ngForm">-->


<!--    <div class="form-group">-->
<!--        <input class="text-1 roboto-light-gray-36px"-->
<!--          name=""-->
<!--          [(ngModel)]=""-->
<!--          #=""-->
<!--          placeholder=""-->
<!--          type=""-->
<!--          required />-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <input class="text-1 roboto-light-gray-36px"-->
<!--        name=""-->
<!--        [(ngModel)]=""-->
<!--        #=""-->
<!--        placeholder=""-->
<!--        type=""-->
<!--        required />-->
<!--  </div>-->

<!--    <div class="submit-button">-->
<!--      <button class="text-6 valign-text-middle roboto-normal-evening-sea-36px"-->
<!--      style="background: transparent;box-shadow: 0px 0px 0px transparent; border: 0px solid transparent; text-shadow: 0px 0px 0px transparent;">-->
<!--        Submit-->
<!--      </button>-->
<!--    </div>-->
<!--</form>-->






