<div class="glass-pane">
  <div class="dateCard">
    <label id="label">Date</label>

    <p>
      {{ creationTime }}
    </p>
  </div>

  <div class="batchCard" id="Batch-Card">
    <label id="label">Batch Name</label>
    <p>
      {{ name }}
    </p>
  </div>

  <div class="instructors">
    <ul class="list-group" id="Generic-List">
      <div class="card-header" id="Card-Header">
        <h6>Instructors</h6>
      </div>
      <li class="list-group-item" *ngFor="let instructor of instructors">
        {{ instructor.name }}
      </li>
      <div class="card-footer" id="Card-Footer"></div>
    </ul>
  </div>

  <div class="users">
    <ul class="list-group" id="Generic-List">
      <div class="card-header" id="Card-Header">
        <h6>Enrolled Employees</h6>
      </div>
      <li class="list-group-item" *ngFor="let user of users">
        {{ user.name }} {{ user.email }}
      </li>
      <div class="card-footer" id="Card-Footer"></div>
    </ul>
  </div>
</div>
