.batchCard {
  position: absolute;
  width: 405px;
  height: 49px;
  left: 757px;
  top: 211px;
  z-index: 2;
}

.dateCard{
  position: absolute;
  width: 148px;
  height: 49px;
  left: 374px;
  top: 213px;
  z-index: 2;
}

.instructors{
  position: absolute;
  left: 40.83%;
  right: 40.81%;
  top: 26.11%;
  bottom: 55.46%;

  opacity: 0.95;
}

.users{
  position: absolute;
  left: 33.54%;
  right: 33.54%;
  top: 48.43%;
  bottom: 21.2%;

  opacity: 0.95;
}
