.batchCard {
  position: absolute;
  width: 405px;
  height: 49px;
  left: 757px;
  top: 211px;
  z-index: 2;
}

.dateCard{
  position: absolute;
  width: 148px;
  height: 49px;
  left: 374px;
  top: 213px;
  z-index: 2;
}

.instructors{
  position: absolute;
  left: 40.83%;
  right: 40.81%;
  top: 26.11%;
  bottom: 55.46%;

  opacity: 0.95;
}

.users{
  position: absolute;
  left: 33.54%;
  right: 33.54%;
  top: 48.43%;
  bottom: 21.2%;

  opacity: 0.95;
}

.glass-pane {
  position: absolute;
  width: 75%;
  height: 75%;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 30px;
}
