<!-- Stuff from Kevin's Branch
  <div *ngIf="flashcard !== undefined">
  <div class="card-body">
    <div class="card-title">Question: {{flashcard.question}}</div>
    <div class="card-text">Topic: {{flashcard.topicName}}</div>
    <div class="card-text">Difficulty: {{flashcard.difficulty}}</div> -->

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="flashcard-difficulty-easy" *ngIf="difficulty == 'Easy'">{{difficulty}}</div>
    <div class="flashcard-difficulty-medium" *ngIf="difficulty == 'Medium'">{{difficulty}}</div>
    <div class="flashcard-difficulty-hard" *ngIf="difficulty == 'Hard'">{{difficulty}}</div>
    <div class="subscription">
      <img src="{{bellStyle}}" alt="subscription bell" height="30em" (click)="subscribe($event)">
    </div>

    <p class="card-text">{{question}}</p>

  </div>

  <div class="rate-card">
    <div class="rating-section" (click)="stopPropogation($event)">
      <div class="slider">
        <label for="rating-slider" class="form-label">Rate the Difficulty</label>
        <input type="range" class="form-range" min="1" max="3" step="1" id="rating-slider">
      </div>
    </div>

    <ul class="rating-label list-group list-group-horizontal range-labels">
      <li class="list-group-item flex-fill">Easy</li>
      <li class="list-group-item  flex-fill active-selected">Medium</li>
      <li class="list-group-item flex-fill">Hard</li>
    </ul>
  </div>
</div>
