<button class="btn btn-primary" type="button" id="Login-Button">Login</button>
<button class="btn btn-primary" type="button" id="Submit-Button">Submit</button>
<button class="btn btn-primary" type="button" id="Register-Button">
  Register
</button>
<button class="btn btn-primary" type="button" id="Signup-Button">Signup</button>
<button class="btn btn-primary" type="button" id="Back-Button">Back</button>

<button class="btn btn-primary" type="button" id="Upload-CSV-Button">
  Upload CSV
</button>
<button class="btn btn-primary" type="button" id="Edit-Button">Edit</button>

<button class="btn btn-secondary" type="button" id="View-More-Button">
  View More
</button>

<button class="btn btn-success" type="button" id="Add-Button">Add</button>
<button class="btn btn-success" type="button" id="Cancel-Button">Cancel</button>

<button class="btn btn-danger" type="button" id="Remove-Button">Remove</button>
<button class="btn btn-danger" type="button" id="Deactivate-Batch-Button">
  Deactivate Batch
</button>
<button class="btn btn-danger" type="button" id="Activate-Button">
  Activate
</button>
<button class="btn btn-danger" type="button" id="Deactivate-Button">
  Deactivate
</button>
<button class="btn btn-danger" type="button" id="Promote-Button">
  Promote
</button>
<button class="btn btn-danger" type="button" id="Demote-Button">Demote</button>
