* {
  font-family: Roboto;
  font-style: normal;
}

#Card-Wide {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 48px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    111.52deg,
    rgba(255, 255, 255, 0.64) 0%,
    rgba(255, 255, 255, 0.48) 100%
  );
  backdrop-filter: blur(100px);
  border-radius: 30px;
}

#Card-Body {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#Card-Footer {
  background: #ffffff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#glass-pane {
  position: absolute;
  width: 75%;
  height: 75%;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 30px;
}

#Card-Wide {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 378px;
  height: 367px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    111.52deg,
    rgba(255, 255, 255, 0.64) 0%,
    rgba(255, 255, 255, 0.48) 100%
  );
  backdrop-filter: blur(100px);
  border-radius: 30px;
}

#Card-Body {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#Generic-List {
  position: relative;
  top: -2px;
  background: none;
  width: 300px;
  position: relative;
  box-sizing: border-box;
  border: none;
  padding: 0px;
  box-sizing: border-box;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#Generic-List li:nth-child(2n-1) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.81) 0%,
    rgba(255, 255, 255, 0.72) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}

#Generic-List li:nth-child(2n) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(255, 255, 255, 0.42) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}

#Card-Header {
  height: 35px;
  background: #ffffff;
  opacity: 0.9;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#Card-Footer {
  height: 35px;
  background: #ffffff;
  opacity: 0.9;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

p {
  text-align: center;
  position: relative;
  top: -32px;
  white-space: nowrap;
}

#Dropdown {
  position: absolute;
  left: 50%;
  bottom: 50%;
}

#Dropdown-Button {
  width: 160px;
  color: rgba(21, 60, 83, 1);
  background: #ffffff;
  box-shadow: 0px -1px 0px #eceeef;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}

#Dropdown-Button:not(:focus) {
  border-radius: 10px !important;
}

#Dropdown-List {
  position: relative;
  top: -2px !important;
  background: none;
  width: 160px;
  position: relative;
  box-sizing: border-box;
  border: none;
  padding: 0px;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#Dropdown-List li:nth-child(2n-1) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.81) 0%,
    rgba(255, 255, 255, 0.72) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}

#Dropdown-List li:nth-child(2n) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(255, 255, 255, 0.42) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}
#Dropdown-List li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#Dropdown:hover li:last-child a {
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


#Remove-Button {
  opacity: 0.75;
  position: relative;
  width: 103px;
  background: #ff0101;
  border: 1px solid #ff0000;
  box-sizing: border-box;
  border-radius: 30px;
}
