<div>
  <div *ngIf="!isLoading" id="glass-pane">
    <div class="card-header" id="Card-Header2" style="text-align: center">
      <p style="font-size: 18pt; top: -0.7rem">User Profile</p>
    </div>

    <div class="card" style="top: 6rem" id="Card-Wide">
      <label for="">Email</label>
      <div class="card-body" id="Card-Body">
        <p class="card-text" id="Card-Text">{{ user?.email }}</p>
      </div>
    </div>

    <div class="card" style="top: 12rem" id="Card-Wide">
      <label for="">Name</label>
      <div class="card-body" id="Card-Body">
        <p class="card-text" id="Card-Text">{{ user?.name }}</p>
      </div>
    </div>

    <div class="card" style="top: 18rem" id="Card-Wide">
      <label for="">Member Since</label>
      <div class="card-body" id="Card-Body">
        <p class="card-text" id="Card-Text">
          {{ user?.registrationTime | date }}
        </p>
      </div>
    </div>

    <ul class="list-group" id="Generic-List">
      <div class="card-header" id="Card-Header">Batches</div>
      <li *ngFor="let batch of batches" class="list-group-item">
        <a (click)="goToBatch(batch.batchId)">{{ batch.name }}</a>
      </li>
      <div class="card-footer" id="Card-Footer"></div>
    </ul>

    <ul class="list-group" id="Generic-List2">
      <div class="card-header" id="Card-Header">Notifications</div>
      <li class="list-group-item long">
        Recieve Flashcard Notifications<input
          type="checkbox"
          [checked]="user?.subscribedFlashcard"
          disabled
        />
      </li>
      <li class="list-group-item short">
        Flashcard Notifications<input
          type="checkbox"
          [checked]="user?.subscribedFlashcard"
          disabled
        />
      </li>
      <li class="list-group-item tiny">
        Flashcard<input
          type="checkbox"
          [checked]="user?.subscribedFlashcard"
          disabled
        />
      </li>
      <li class="list-group-item long">
        Recieve Stacktrace Notifications<input
          type="checkbox"
          [checked]="user?.subscribedStacktrace"
          disabled
        />
      </li>
      <li class="list-group-item short">
        Stacktrace Notifications<input
          type="checkbox"
          [checked]="user?.subscribedStacktrace"
          disabled
        />
      </li>
      <li class="list-group-item tiny">
        Stacktrace<input
          type="checkbox"
          [checked]="user?.subscribedStacktrace"
          disabled
        />
      </li>
      <div class="card-footer" id="Card-Footer"></div>
    </ul>

    <div *ngIf="user?.active">
      <button
        [disabled]="!activateVisible"
        class="btn btn-danger"
        type="button"
        id="Remove-Button"
        (click)="setUserActive(false)"
      >
        Deactivate
      </button>
    </div>

    <div *ngIf="!user?.active">
      <button
        class="btn btn-success"
        type="button"
        id="Add-Button"
        (click)="setUserActive(true)"
      >
        Activate
      </button>
    </div>

    <div class="dropdown" id="Dropdown">
      <label for="" style="padding-right: 30px; top: 2px">Authority:</label>
      <button
        class="btn btn-secondary dropdown-toggle"
        type="reset"
        id="Dropdown-Button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        (click)="this.changeFocus()"
        (focus)="this.setFalse()"
      >
        {{ user?.authority }}
      </button>
      <ul
        class="dropdown-menu"
        aria-labelledby="Dropdown-Button"
        id="Dropdown-List"
      >
        <li *ngIf="userVisible">
          <a class="dropdown-item" (click)="setUserAuthority('ROLE_USER')">USER</a>
        </li>
        <li *ngIf="adminVisible">
          <a class="dropdown-item" (click)="setUserAuthority('ROLE_ADMIN')">ADMIN</a>
        </li>
        <li *ngIf="superAdminVisible">
          <a class="dropdown-item" (click)="setUserAuthority('ROLE_SUPER_ADMIN')"
            >SUPER ADMIN</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="isLoading" id="glass-pane">
    <div class="card-header" id="Card-Header2" style="text-align: center">
      <p style="font-size: 18pt; top: -0.7rem">User Profile</p>
    </div>
    <div class="d-flex justify-content-center" style="padding-top: 10rem">
      <label
        for=""
        style="position: absolute; left: auto; right: auto; padding-top: 16rem"
        >Loading...</label
      >
      <div class="spinner-border text-primary" id="loading" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
