<div id="Background-Image">
    <div id="Home">
    <div id="glass-pane">
      <div id="Splash-Image"></div>
      <h1>WELCOME</h1>
      <p class="w-50">"We believe that a collaborative and competitive team environment is crucial to synergizing effective solutions. To that end, StudyForce brings a highly scalable and robust architecture for improving your individual abilities and preparing you for a future in technology."</p>
      <button class="btn btn-primary" type="button" id="Login-Signup-Button" routerLink="/loginRoute">
        Login / Signup
      </button>
  
      <img
        src="../../../../assets/studyforce_logo.png"
        class="d-inline-block align-top"
        id="studyforce_logo"
        alt="Study Force Logo"
      />
    </div>
  </div>
  </div>