<div id="glass-pane">
    <div class="row">
        <div class="col-6 mx-auto">
            <img src="../../../../assets/studyforce_logo.png" alt="Study Force Logo">
        </div>
    </div>
    <div class="row">
        <div class="col-6 mx-auto m-5">
            <div class="card" style="width: 35rem" id="Card-Wide">
                <div class="card-header" id="Card-Header">
                    <h3>Welcome to Revature Study Force</h3>
                </div>
                <div class="card-body" id="Card-Body">
                    <h5>Please Login</h5>
                    <button id="Login-Button" routerLink="/loginRoute">Login</button>
                <p class="card-text" id="Card-Text"></p>
                </div>
            </div>
        </div>
    </div>
</div>