#Login-Button {
    opacity: 0.75;
    position: relative;
    width: 84px;
    background: #0275d8;
    border: 1px solid #0275d8;
    box-sizing: border-box;
    border-radius: 30px;
}

#Card-Wide {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 378px !important;
    height: 367px !important;
    transform: translate(-50%, -50%);
    background: linear-gradient(
                111.52deg,
                rgba(255, 255, 255, 0.64) 0%,
                rgba(255, 255, 255, 0.48) 100%
    );
    backdrop-filter: blur(100px);
    border-radius: 30px;
}

#Card-Header {
    height: 62px;
    background: #ffffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#Card-Body {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
