<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title test">Reply</h3>
    <form>
      <div class="form-group">
        <label for = "submitCardContentType" id="submitContent" >
        </label>
        <textarea class="form-control input-styling" id="submitContent" rows="6" placeholder="Write your [X] here..."></textarea>
      </div>


    </form>
    <div class="wrapper">
      <button type="button" class="btn custom-button">Submit
    </button>
    </div>
  </div>
</div>
