.page-base {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;

  background: linear-gradient(252.44deg, #ED4C4C 0%, rgba(219, 199, 17, 0) 100%);
}

.center-wrapper {
  width: 1200px;
  margin: auto;
  height: auto;
}

input {
  margin:auto;
  background: linear-gradient(111.52deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.8) 100%);
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border: 2px solid;
  border-image-source: linear-gradient(111.52deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 30px;
}

/* table {
  float: left;
  width: 1200px;
  margin-top: 200px;
  background: #FFFFFF;
  border-radius: 30px;
} */

/* th {
  height: 50px;
  padding-left:90px;
  padding-right:90px;
  float: left;
} */

/* td {
  height: 90px;
  padding-left:90px;
  padding-right:90px;
} */


.pagination {
  float: left;
}

.glass-base{
  position: relative;
  width: 258px;
  height: 211px;
  left: -55px;
  top: 27px;

  float: right;

  background: linear-gradient(111.52deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%);
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
  border: 3px solid;

  border-image-source: linear-gradient(111.52deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);

  border-radius: 30px;
}



th {
  background: white;
  float: left;
  width:50%;
}

td{
  min-width: 50%;
  width: 688px;
  text-align: left;

}

.table-striped > tbody > tr:nth-child(2n + 1) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.81) 0%,
    rgba(255, 255, 255, 0.72) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}

.table-striped > tbody > tr:nth-child(2n) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(255, 255, 255, 0.42) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}

table {
  border-radius: 30px;
  overflow: hidden;
  background: none;
}

th{
  width:50%;
}

caption {
  background: #ffffff;
  opacity: 0.5;
  box-shadow: 0px -1px 0px #eceeef;
  border-radius: 0px 0px 30px 30px;
}
#Search-Bar {
  width: 957px;
  border-radius: 30px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

#Search-Input {
  border-radius: 30px;
  box-shadow: none;
  background: linear-gradient(
    111.52deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.8) 100%
  );
  backdrop-filter: blur(100px);
}

#Search-Button {
  position: absolute;
  box-shadow: none;
  width: 75px;
  right: 0;
  z-index: 3;

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.edit{
  text-align: right !important;
}

#Dropdown {
  position: relative;
  float: right;
  /* left: 50%;
  bottom: 50%; */
}
#Dropdown-Button {
  width: 175px;
  color: rgba(21, 60, 83, 1);
  background: #ffffff;
  box-shadow: 0px -1px 0px #eceeef;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}

#Dropdown-Button:not(:focus) {
  border-radius: 10px !important;
}

#Dropdown-List {
  position: relative;
  top: -2px !important;
  background: none;
  width: 175px;
  position: relative;
  box-sizing: border-box;
  border: none;
  padding: 0px;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#Dropdown-List li:nth-child(2n-1) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.81) 0%,
    rgba(255, 255, 255, 0.72) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}

#Dropdown-List li:nth-child(2n) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(255, 255, 255, 0.42) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}
#Dropdown-List li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#Dropdown:hover li:last-child a {
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#Back-Button {
  opacity: 0.75;
  position: relative;
  width: 86px;
  background: #0275d8;
  border: 1px solid #0275d8;
  box-sizing: border-box;
  border-radius: 30px;
  float: right;
}







