/* Dropdown Menu */
table {
  position: absolute;
  width: 1198px;
  height: 696.23px;
  left: 361px;
  top: 235px;
}

tbody {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 7.47%;
  bottom: 0%;
}

tr {
  position: absolute;
  left: 0%;
  right: -3.57%;
  top: 0%;
  bottom: 0%;
}

th {
  position: absolute;
  left: 0%;
  right: 49.83%;
  top: 0%;
  bottom: 0%;
}

.glass-base{
  position: absolute;
  width: 258px;
  height: 211px;
  left: -55px;
  top: -27px;

  background: linear-gradient(111.52deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%);
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;
}
.dropdown-area {
  position: absolute;
  width: 149px;
  height: 157px;
  left: 1691px;
  top: 125px;
}

.dropdown-selector {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 74.52%;
}

.dropdown-options {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 25.48%;
  bottom: 0%;
  overflow: scroll;
}
