<div class="page-base">
  <div class="glass-base">
    <div ngbDropdown class="dropdown-menu">
      <div class="dropdown-options" ngbDropdownMenu aria-labelledby="dropdownTech">

      </div>
    </div>
  </div>


      <div class="col-md-12">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>

  <div class="center-wrapper">
    <form mdbWavesEffect>
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="retrieveStacktraces()"
        >
          Search
        </button>
      </div>

    </form>
    <table>
      <caption>List of Stacktraces</caption>
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Technology</th>
        </tr>
      </thead>
      <tbody>
        <tr class="list-group-item"
        *ngFor="
          let stacktrace of stacktraces | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
        [class.active]="i == currentIndex"
        (click)="setActiveStacktrace(stacktrace, i)"
      >
        {{ stacktrace.title }}

        </tr>
      </tbody>
      <div class="mt-3">
        Items per Page:
        <select (change)="handlePageSizeChange($event)">
          <option *ngFor="let size of pageSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>
      </div>
    </table>
  </div>

</div>
