<div class="page-base">
  <div class="glass-base">
    <div ngbDropdown class="dropdown-menu">
      <button class="dropdown-selector" id="dropdownTech" ngbDropdownToggle>Technology: {{currentTechnologyName}}</button>
      <div class="dropdown-options" ngbDropdownMenu aria-labelledby="dropdownTech">
        <div>
          <button ngbDropdownItem (click)="filterStacktraces()">All</button>
        </div>
        <div *ngFor="let technology of technologies">
          <button ngbDropdownItem (click)="filterStacktraces(technology)">{{technology.technologyName}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="center-wrapper">
    <form mdbWavesEffect>
      <div>
        <input type="text" placeholder="Search">
      </div>
    </form>
    <table>
      <caption>List of Stacktraces</caption>
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Technology</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stacktrace of filteredStacktraces | slice: (page-1) * pageSize : page * pageSize">
          <td (click)='navigate(stacktrace)'>
            {{stacktrace.title}}
          </td>
          <td>
            {{stacktrace.technology.technologyName}}
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination
      class="pagination"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="filteredStacktraces.length"
      ></ngb-pagination>
  </div>
</div>
