#glass-pane {
  position: absolute;
  width: 75%;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 30px;
}

#Upload-CSV-Button {
  opacity: 0.75;
  position: relative;
  width: 148px;
  background: #0275d8;
  border: 1px solid #0275d8;
  box-sizing: border-box;
  border-radius: 30px;
}

th {
  background: white;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

tbody > tr:nth-child(2n + 1) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.81) 0%,
    rgba(255, 255, 255, 0.72) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}

tbody > tr:nth-child(2n) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(255, 255, 255, 0.42) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}

table {
  border-radius: 30px;
  overflow: hidden;
}

.Remove-Button {
  opacity: 0.75;
  position: relative;
  right: 0;
  width: 103px;
  background: #ff0101;
  border: 1px solid #ff0000;
  box-sizing: border-box;
  border-radius: 30px;
}

.Add-Button {
  position: relative;
  width: 20%;
  left: 20px;
  background: #00d600;
  border: 1px solid #80b366;
  box-sizing: border-box;
  border-radius: 30px;
}
#Action {
  padding-right: 55px;
  text-align: right;
}

.Remove-Button {
  float: right;
}
#Email-Input {
  position: relative;
  left: 1%;
  width: 75%;
  border-radius: 30px;
}
.Batch-Name-Input {
    position: relative;
    width: 75%;
    border-radius: 30px;
  }

#Submit-Button {
  opacity: 0.75;
  position: relative;
  width: 86px;
  background: #0275d8;
  border: 1px solid #0275d8;
  box-sizing: border-box;
  border-radius: 30px;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

caption {
  background: #ffffff;
  box-shadow: 0px -1px 0px #eceeef;
  border-radius: 0px 0px 30px 30px;
}

td {
  width: 100%;
}
#MoveTheFuckOver {
  position: relative;
  right: 0px;
  width: 100%;
}
#Dropdown-Button {
  width: 175px;
  color: rgba(21, 60, 83, 1);
  background: #ffffff;
  box-shadow: 0px -1px 0px #eceeef;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}

#Dropdown-Button:not(:focus) {
  border-radius: 10px !important;
}

#Dropdown-List {
  position: absolute;
  top: -2px !important;
  background: none;
  width: 175px;
  box-sizing: border-box;
  border: none;
  padding: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#Dropdown-List li:nth-child(2n-1) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.81) 0%,
    rgba(255, 255, 255, 0.72) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}

#Dropdown-List li:nth-child(2n) {
  background: linear-gradient(
    90.34deg,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(255, 255, 255, 0.42) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(100px);
}
#Dropdown-List li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#Dropdown:hover li:last-child a {
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
