<div class="container">
  <div id="glass-pane">
    <div class="row">
      <div class="text-center mt-5 mb-5 upload-btn-wrapper">
        <button class="btn btn-primary" id="Upload-CSV-Button">
          Upload CSV
        </button>
        <input type="file" (change)="changeListener($event.target.files)" />
      </div>
    </div>
    <div class="row">
      <div class="wrapper col-8 mx-auto">
        <div class="table-responsive">
          <table class="table table-striped table-borderless">
            <thead>
              <tr>
                <th id="">Admins</th>
                <th id="">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of userAdminArray">
                <td>{{ e.email }}</td>
                <td>
                  <button
                    class="btn btn-danger form-control Remove-Button"
                    (click)="onDeleteAdmin()"
                  >
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
            <caption>
              <input
                type="text"
                class="form-control d-inline"
                name="email"
                placeholder="email"
                [ngModel]="user?.email"
                #email="ngModel"
                id="Email-Input"
              />
              <button
                class="btn btn-primary Add-Button d-inline"
                type="submit"
                id="Add-Button"
              >
                Add
              </button>
            </caption>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrapper col-8 mx-auto">
        <div class="table-responsive">
          <table class="table table-striped table-borderless">
            <thead>
              <tr>
                <th id="">Employees</th>
                <th id="">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of userEmployeeArray">
                <td>{{ e.email }}</td>
                <td>
                  <button
                    class="btn btn-danger form-control Remove-Button"
                    (click)="onDeleteEmployee()"
                  >
                    Remove
                  </button>
                </td>
              </tr>
              <tr>
                <div class="">
                  <form (submit)="onSubmitEmployee(formEmp)" #formEmp="ngForm">
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        name="email"
                        placeholder="email"
                        [ngModel]="user?.email"
                        #email="ngModel"
                      />
                    </td>
                    <td>
                      <button
                        class="btn btn-success form-control Add-Button"
                        type="submit"
                      >
                        Add
                      </button>
                    </td>
                  </form>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center mt-5 mb-5">
        <button
          class="btn btn-primary"
          type="button"
          id="Submit-Button"
          (click)="finalSubmit()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
