#glass-pane {
    position: absolute;
    width: 75%;
    height: 75%;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 30px;
}

#Upload-CSV-Button {
    opacity: 0.75;
    position: relative;
    width: 148px;
    background: #0275d8;
    border: 1px solid #0275d8;
    box-sizing: border-box;
    border-radius: 30px;
}